---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/AtmaVichara
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1521764497'
      Etag:
      - W/"d4559a2187bb52d90d0ac3872e0c3abe"
      Last-Modified:
      - Mon, 19 Mar 2018 16:37:13 GMT
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<github_key>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"AtmaVichara","id":7635493,"avatar_url":"https://avatars1.githubusercontent.com/u/7635493?v=4","gravatar_id":"","url":"https://api.github.com/users/AtmaVichara","html_url":"https://github.com/AtmaVichara","followers_url":"https://api.github.com/users/AtmaVichara/followers","following_url":"https://api.github.com/users/AtmaVichara/following{/other_user}","gists_url":"https://api.github.com/users/AtmaVichara/gists{/gist_id}","starred_url":"https://api.github.com/users/AtmaVichara/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/AtmaVichara/subscriptions","organizations_url":"https://api.github.com/users/AtmaVichara/orgs","repos_url":"https://api.github.com/users/AtmaVichara/repos","events_url":"https://api.github.com/users/AtmaVichara/events{/privacy}","received_events_url":"https://api.github.com/users/AtmaVichara/received_events","type":"User","site_admin":false,"name":"Joseph
        Jobes","company":null,"blog":"","location":null,"email":"jmrjobes@gmail.com","hireable":null,"bio":"Software
        Developer attending Turing\r\n@JosephJobes on slack","public_repos":42,"public_gists":15,"followers":5,"following":4,"created_at":"2014-05-19T21:35:43Z","updated_at":"2018-03-19T16:37:13Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":143477,"collaborators":0,"two_factor_authentication":false,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":0}}'
  recorded_at: Thu, 22 Mar 2018 23:21:38 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/users/AtmaVichara/starred
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1521764497'
      Etag:
      - W/"89574f12217e747812c88d645c113879"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<github_key>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":45717250,"name":"tensorflow","full_name":"tensorflow/tensorflow","owner":{"login":"tensorflow","id":15658638,"avatar_url":"https://avatars1.githubusercontent.com/u/15658638?v=4","gravatar_id":"","url":"https://api.github.com/users/tensorflow","html_url":"https://github.com/tensorflow","followers_url":"https://api.github.com/users/tensorflow/followers","following_url":"https://api.github.com/users/tensorflow/following{/other_user}","gists_url":"https://api.github.com/users/tensorflow/gists{/gist_id}","starred_url":"https://api.github.com/users/tensorflow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tensorflow/subscriptions","organizations_url":"https://api.github.com/users/tensorflow/orgs","repos_url":"https://api.github.com/users/tensorflow/repos","events_url":"https://api.github.com/users/tensorflow/events{/privacy}","received_events_url":"https://api.github.com/users/tensorflow/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/tensorflow/tensorflow","description":"Computation
        using data flow graphs for scalable machine learning","fork":false,"url":"https://api.github.com/repos/tensorflow/tensorflow","forks_url":"https://api.github.com/repos/tensorflow/tensorflow/forks","keys_url":"https://api.github.com/repos/tensorflow/tensorflow/keys{/key_id}","collaborators_url":"https://api.github.com/repos/tensorflow/tensorflow/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/tensorflow/tensorflow/teams","hooks_url":"https://api.github.com/repos/tensorflow/tensorflow/hooks","issue_events_url":"https://api.github.com/repos/tensorflow/tensorflow/issues/events{/number}","events_url":"https://api.github.com/repos/tensorflow/tensorflow/events","assignees_url":"https://api.github.com/repos/tensorflow/tensorflow/assignees{/user}","branches_url":"https://api.github.com/repos/tensorflow/tensorflow/branches{/branch}","tags_url":"https://api.github.com/repos/tensorflow/tensorflow/tags","blobs_url":"https://api.github.com/repos/tensorflow/tensorflow/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/tensorflow/tensorflow/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/tensorflow/tensorflow/git/refs{/sha}","trees_url":"https://api.github.com/repos/tensorflow/tensorflow/git/trees{/sha}","statuses_url":"https://api.github.com/repos/tensorflow/tensorflow/statuses/{sha}","languages_url":"https://api.github.com/repos/tensorflow/tensorflow/languages","stargazers_url":"https://api.github.com/repos/tensorflow/tensorflow/stargazers","contributors_url":"https://api.github.com/repos/tensorflow/tensorflow/contributors","subscribers_url":"https://api.github.com/repos/tensorflow/tensorflow/subscribers","subscription_url":"https://api.github.com/repos/tensorflow/tensorflow/subscription","commits_url":"https://api.github.com/repos/tensorflow/tensorflow/commits{/sha}","git_commits_url":"https://api.github.com/repos/tensorflow/tensorflow/git/commits{/sha}","comments_url":"https://api.github.com/repos/tensorflow/tensorflow/comments{/number}","issue_comment_url":"https://api.github.com/repos/tensorflow/tensorflow/issues/comments{/number}","contents_url":"https://api.github.com/repos/tensorflow/tensorflow/contents/{+path}","compare_url":"https://api.github.com/repos/tensorflow/tensorflow/compare/{base}...{head}","merges_url":"https://api.github.com/repos/tensorflow/tensorflow/merges","archive_url":"https://api.github.com/repos/tensorflow/tensorflow/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/tensorflow/tensorflow/downloads","issues_url":"https://api.github.com/repos/tensorflow/tensorflow/issues{/number}","pulls_url":"https://api.github.com/repos/tensorflow/tensorflow/pulls{/number}","milestones_url":"https://api.github.com/repos/tensorflow/tensorflow/milestones{/number}","notifications_url":"https://api.github.com/repos/tensorflow/tensorflow/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/tensorflow/tensorflow/labels{/name}","releases_url":"https://api.github.com/repos/tensorflow/tensorflow/releases{/id}","deployments_url":"https://api.github.com/repos/tensorflow/tensorflow/deployments","created_at":"2015-11-07T01:19:20Z","updated_at":"2018-03-22T23:07:26Z","pushed_at":"2018-03-22T23:15:56Z","git_url":"git://github.com/tensorflow/tensorflow.git","ssh_url":"git@github.com:tensorflow/tensorflow.git","clone_url":"https://github.com/tensorflow/tensorflow.git","svn_url":"https://github.com/tensorflow/tensorflow","homepage":"https://tensorflow.org","size":157530,"stargazers_count":93547,"watchers_count":93547,"language":"C++","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":60004,"mirror_url":null,"archived":false,"open_issues_count":1507,"license":{"key":"apache-2.0","name":"Apache
        License 2.0","spdx_id":"Apache-2.0","url":"https://api.github.com/licenses/apache-2.0"},"forks":60004,"open_issues":1507,"watchers":93547,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}}]'
  recorded_at: Thu, 22 Mar 2018 23:21:39 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/users/AtmaVichara/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1521764497'
      Etag:
      - W/"c1914aae5249df30e53592e9e6462b81"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<github_key>"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/7635493/repos?page=2>; rel="next", <https://api.github.com/user/7635493/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":118531042,"name":"activerecord_exploration","full_name":"AtmaVichara/activerecord_exploration","owner":{"login":"AtmaVichara","id":7635493,"avatar_url":"https://avatars1.githubusercontent.com/u/7635493?v=4","gravatar_id":"","url":"https://api.github.com/users/AtmaVichara","html_url":"https://gith[...]
- request:
    method: get
    uri: https://api.github.com/users/AtmaVichara/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1521764497'
      Etag:
      - W/"3cf63418276d1cddb3b48ec55e78ca46"
      Last-Modified:
      - Thu, 22 Mar 2018 22:38:12 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<github_key>"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/7635493/events?page=2>; rel="next", <https://api.github.com/user/7635493/events?page=8>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"7422295584","type":"CreateEvent","actor":{"id":7635493,"login":"AtmaVichara","display_login":"AtmaVichara","gravatar_id":"","url":"https://api.github.com/users/AtmaVichara","avatar_url":"https://avatars.githubusercontent.com/u/7635493?"},"repo":{"id":126402895,"name":"AtmaVichara/quality_bluestone","url":"https://api.github.com/repos/AtmaVichara/quality_bluestone"},"payload":{"ref":"master","ref_type":"branch","master_branch":"master","description":null,"pusher_type":"user"},"public":true,"created_at":"2018-03-22T22:38:12Z"},{"id":"7422286907","type":"CreateEvent","actor":{"id":7635493,"login":"AtmaVichara","display_login":"AtmaVichara","gravatar_id":"","url":"https://api.github.com/users/AtmaVichara","avatar_url":"https://avatars.githubusercontent.com/u/7635493?"},"repo":{"id":126402895,"name":"AtmaVichara/quality_bluestone","url":"https://api.github.com/repos/AtmaVichara/quality_bluestone"},"payload":{"ref":null,"ref_type":"repository","master_branch":"master","description":null,"pusher_type":"user"},"public":true,"created_at":"2018-03-22T22:35:45Z"},{"id":"7419284707","type":"WatchEvent","actor":{"id":7635493,"login":"AtmaVichara","display_login":"AtmaVichara","gravatar_id":"","url":"https://api.github.com/users/AtmaVichara","avatar_url":"https://avatars.githubusercontent.com/u/7635493?"},"repo":{"id":45717250,"name":"tensorflow/tensorflow","url":"https://api.github.com/repos/tensorflow/tensorflow"},"payload":{"action":"started"},"public":true,"created_at":"2018-03-22T13:42:24Z","org":{"id":15658638,"login":"tensorflow","gravatar_id":"","url":"https://api.github.com/orgs/tensorflow","avatar_url":"https://avatars.githubusercontent.com/u/15658638?"}},{"id":"7413044345","type":"PushEvent","actor":{"id":7635493,"login":"AtmaVichara","display_login":"AtmaVichara","gravatar_id":"","url":"https://api.github.com/users/AtmaVichara","avatar_url":"https://avatars.githubusercontent.com/u/7635493?"},"repo":{"id":125860007,"name":"AtmaVichara/apicurious","url":"https://api.github.com/repos/AtmaVichara/apicurious"},"payload":{"push_id":2420922561,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"6d7dd3caf50e77029aa6593dbbc3b9d81df32b78","before":"f88f6abc73f31bdf3399201e3f9cdc982d80d667","commits":[{"sha":"6d7dd3caf50e77029aa6593dbbc3b9d81df32b78","author":{"email":"jmrjobes@gmail.com","name":"Joseph
        Jobes"},"message":"Update README.md","distinct":true,"url":"https://api.github.com/repos/AtmaVichara/apicurious/commits/6d7dd3caf50e77029aa6593dbbc3b9d81df32b78"}]},"public":true,"created_at":"2018-03-21T14:03:37Z"},{"id":"7413035738","type":"PushEvent","actor":{"id":7635493,"login":"AtmaVichara","display_login":"AtmaVichara","gravatar_id":"","url":"https://api.github.com/users/AtmaVichara","avatar_url":"https://avatars.githubusercontent.com/u/7635493?"},"repo":{"id":125860007,"name":"AtmaVichara/apicurious","url":"https://api.github.com/repo[...]
- request:
    method: get
    uri: https://api.github.com/users/AtmaVichara/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1521764497'
      Et[...]
- request:
    method: get
    uri: https://api.github.com/users/plato721/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1521764497'
      Etag:
  [...]
- request:
    method: get
    uri: https://api.github.com/users/gijolopez/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1521764497'
      Etag:
 [...]
- request:
    method: get
    uri: https://api.github.com/users/epintozzi/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
      X-Ratelimit-Reset:
      - '1521764497'
      Etag:
      - W/"ac44209cf1b727c9cae5e5ab7a0e3b7a"
      Last-Modified:
      - Sun, 11 Mar 2018 23:55:25 GMT
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<github_key>"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/5739330/events?page=2>; rel="next", <https://api.github.com/user/5739330/events?page=3>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"7362975510","type":"IssuesEvent","actor":{"id":5739330,"login":"epintozzi","display_login":"epintozzi","gravatar_id":"","url":"https://api.github.com/users/epintozzi","avatar_url":"https://avatars.githubusercontent.com/u/5739330?"},"repo":{"id":88002094,"name":"epintozzi/usts_app","url":"https://api.github.com/repos/epintozzi/usts_app"},"payload":{"action":"closed","issue":{"url":"https://api.github.com/repos/epintozzi/usts_app/issues/200","repository_url":"https://api.github.com/repos/epintozzi/usts_app","labels_url":"https://api.github.com/repos/epintozzi/usts_app/issues/200/labels{/name}","comments_url":"https://api.github.com/repos/epintozzi/usts_app/issues/200/comments","events_url":"https://api.github.com/repos/epintozzi/usts_app/issues/200/events","html_url":"https://github.com/epintozzi/usts_app/issues/200","id":248549370,"number":200,"title":"Add
        race results by USTS number, not name","user":{"login":"epintozzi","id":5739330,"avatar_url":"https://avatars1.githubusercontent.com/u/5739330?v=4","gravatar_id":"","url":"https://api.github.com/users/epintozzi","html_url":"https://github.com/epintozzi","followers_url":"https://api.github.com/users/epintozzi/followers","following_url":"https://api.github.com/users/epintozzi/following{/other_user}","gists_url":"https://api.github.com/users/epintozzi/gists{/gist_id}","starred_url":"https://api.github.com/users/epintozzi/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/epintozzi/subscriptions","organizations_url":"https://api.github.com/users/epintozzi/orgs","repos_url":"https://api.github.com/users/epintozzi/repos","events_url":"https://api.github.com/users/epintozzi/events{/privacy}","received_events_url":"https://api.github.com/users/epintozzi/received_events","type":"User","site_admin":false},"labels":[{"id":596630241,"url":"https://api.github.com/repos/epintozzi/usts_app/labels/High%20Priority","name":"High
        Priority","color":"b60205","default":false},{"id":596681459,"url":"https://api.github.com/repos/epintozzi/usts_app/labels/In%20Review","name":"In
        Review","color":"e6e6e6","default":false},{"id":587436943,"url":"https://api.github.com/repos/epintozzi/usts_app/labels/race%20results","name":"race
        results","color":"006b75","default":false}],"state":"closed","locked":false,"assignee":{"login":"epintozzi","id":5739330,"avatar_url":"https://avatars1.githubusercontent.com/u/5739330?v=4","gravatar_id":"","url":"https://api.github.com/users/epintozzi","html_url":"https://github.com/epintozzi","followers_url":"https://api.github.com/users/epintozzi/followers","following_url":"https://api.github.com/users/epintozzi/following{/other_user}","gists_url":"https://api.github.com/users/epintozzi/gists{/gist_id}","starred_url":"https://api.github.com/users/epintozzi/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/epintozzi/subscriptions","organizations_url":"https://api.github.com/users/epintozzi/orgs","repos_url":"https://api.github.com/users/epintozzi/repos","events_url":"https://api.github.com/users/epintozzi/events{/privacy}","received_events_url":"https://api.github.com/users/epintozzi/received_events","type":"User","site_admin":false},"assignees":[{"login":"epintozzi","id":5739330,"avatar_url":"https://avatars1.githubusercontent.com/u/5739330?v=4","gravatar_id":"","url":"https://api.github.com/users/epintozzi","html_url":"https://github.com/epintozzi","followers_url":"https://api.github.com/users/epintozzi/followers","following_url":"https://api.github.com/users/epintozzi/following{/other_user}","gists_url":"https://api.github.com/users/epintozzi/gists{/gist_id}","starred_url":"https://api.github.com/users/epintozzi/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/epintozzi/subscriptions","organizations_url":"https://api.github.com/users/epintozzi/orgs","repos_url":"https://api.github.com/users/epintozzi/repos","events_url":"https://api.github.com/users/epintozzi/events{/privacy}","received_events_url":"https://api.github.com/users/epintozzi/received_events","type":"User","site_admin":false}],"milestone":{"url":"https://api.github.com/repos/epintozzi/usts_app/milestones/2","html_url":"https://github.com/epintozzi/usts_app/milestone/2","labels_url":"https://api.github.com/repos/epintozzi/usts_app/milestones/2/labels","id":2688856,"number":2,"title":"Phase
        2 - Immediate Post Launch","description":"This will cover the items that would''ve
        been really nice to have for the initial launch but didn''t make the cut","creator":{"login":"epintozzi","id":5739330,"avatar_url":"https://avatars1.githubusercontent.com/u/5739330?v=4","gravatar_id":"","url":"https://api.github.com/users/epintozzi","html_url":"https://github.com/epintozzi","followers_url":"https://api.github.com/users/epintozzi/followers","following_url":"https://api.github.com/users/epintozzi/following{/other_user}","gists_url":"https://api.github.com/users/epintozzi/gists{/gist_id}","starred_url":"https://api.github.com/users/epintozzi/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/epintozzi/subscriptions","organizations_url":"https://api.github.com/users/epintozzi/orgs","repos_url":"https://api.github.com/users/epintozzi/repos","events_url":"https://api.github.com/users/epintozzi/events{/privacy}","received_events_url":"https://api.github.com/users/epintozzi/received_events","type":"User","site_admin":false},"open_issues":18,"closed_issues":12,"state":"open","created_at":"2017-08-08T18:21:42Z","updated_at":"2018-03-11T23:55:25Z","due_on":"2017-09-30T07:00:00Z","closed_at":null},"comments":1,"created_at":"2017-08-07T22:29:38Z","updated_at":"2018-03-11T23:55:25Z","closed_at":"2018-03-11T23:55:25Z","author_association":"OWNER","body":null}},"public":true,"created_at":"2018-03-11T23:55:25Z"},{"id":"7362975216","type":"PushEvent","actor":{"id":5739330,"login":"epintozzi","display_login":"epintozzi","gravatar_id":"","url":"https://api.github.com/users/epintozzi","avatar_url":"https://avatars.githubusercontent.com/u/5739330?"},"repo":{"id":88002094,"name":"epintozzi/usts_app","url":"https://api.github.com/repos/epintozzi/usts_app"},"payload":{"push_id":2394026236,"size":2,"distinct_size":1,"ref":"refs/heads/master[...]
- request:
    method: get
    uri: https://api.github.com/users/Heybluguy/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4972'
      X-Ratelimit-Reset:
      - '1521764497'
      Etag:
 [...]
- request:
    method: get
    uri: https://api.github.com/users/amj133/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <github_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1521764497'
      Etag:
    [...]
